In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('datasets/IMDB Dataset.csv')

In [3]:
data.head(4)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative

In [4]:
data.shape

(50000, 2)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [6]:
data['sentiment'].value_counts()

sentiment
positive    25000
negative    25000
Name: count, dtype: int64

In [7]:
data.isna().sum()

review       0
sentiment    0
dtype: int64

In [8]:
data.duplicated().sum()

418

In [9]:
data.drop_duplicates(inplace=True)

In [10]:
data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[49582 rows x 2 columns]

In [11]:
# postive - 1
# negative - 0

In [ ]:
data.replace({"sentiment":{"positive":1,"negative":0}},inplace=True)

In [13]:
data.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [14]:
data['sentiment'].value_counts()

sentiment
1    24884
0    24698
Name: count, dtype: int64

In [15]:
data['review'][4]

'Petter Mattei\'s "Love in the Time of Money" is a visually stunning film to watch. Mr. Mattei offers us a vivid portrait about human relations. This is a movie that seems to be telling us what money, power and success do to people in the different situations we encounter. <br /><br />This being a variation on the Arthur Schnitzler\'s play about the same theme, the director transfers the action to the present time New York where all these different characters meet and connect. Each one is connected in one way, or another to the next person, but no one seems to know the previous point of contact. Stylishly, the film has a sophisticated luxurious look. We are taken to see how these people live and the world they live in their own habitat.<br /><br />The only thing one gets out of all these souls in the picture is the different stages of loneliness each one inhabits. A big city is not exactly the best place in which human relations find sincere fulfillment, as one discerns is the case with most of the people we encounter.<br /><br />The acting is good under Mr. Mattei\'s direction. Steve Buscemi, Rosario Dawson, Carol Kane, Michael Imperioli, Adrian Grenier, and the rest of the talented cast, make these characters come alive.<br /><br />We wish Mr. Mattei good luck and await anxiously for his next work.'

In [16]:
# Preprocessing pipeline for review data 
# 1. removing HTML tags 
# 2. Handling special characters 
# 3. Normalizing the case or lowering the case 
# 4. Removing unecessary whitespaces

## TEXT preprocessing

### 1. lower casing the review

In [17]:
data['review'] = data['review'].str.lower()

In [18]:
data

                                                  review  sentiment
0      one of the other reviewers has mentioned that ...          1
1      a wonderful little production. <br /><br />the...          1
2      i thought this was a wonderful way to spend ti...          1
3      basically there's a family where a little boy ...          0
4      petter mattei's "love in the time of money" is...          1
...                                                  ...        ...
49995  i thought this movie did a down right good job...          1
49996  bad plot, bad dialogue, bad acting, idiotic di...          0
49997  i am a catholic taught in parochial elementary...          0
49998  i'm going to have to disagree with the previou...          0
49999  no one expects the star trek movies to be high...          0

[49582 rows x 2 columns]

### 2. Removing HTML tags

In [19]:
import re 
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'',text)

In [20]:
data['review'] = data['review'].apply(remove_html_tags)

In [21]:
data['review'][4]

'petter mattei\'s "love in the time of money" is a visually stunning film to watch. mr. mattei offers us a vivid portrait about human relations. this is a movie that seems to be telling us what money, power and success do to people in the different situations we encounter. this being a variation on the arthur schnitzler\'s play about the same theme, the director transfers the action to the present time new york where all these different characters meet and connect. each one is connected in one way, or another to the next person, but no one seems to know the previous point of contact. stylishly, the film has a sophisticated luxurious look. we are taken to see how these people live and the world they live in their own habitat.the only thing one gets out of all these souls in the picture is the different stages of loneliness each one inhabits. a big city is not exactly the best place in which human relations find sincere fulfillment, as one discerns is the case with most of the people we encounter.the acting is good under mr. mattei\'s direction. steve buscemi, rosario dawson, carol kane, michael imperioli, adrian grenier, and the rest of the talented cast, make these characters come alive.we wish mr. mattei good luck and await anxiously for his next work.'

### 3. Removing punctuation

In [22]:
import string

In [23]:
exclude = string.punctuation

In [24]:
def remove_punc(text):
    return text.translate(str.maketrans('','',exclude))

In [25]:
data['review'] = data['review'].apply(remove_punc)

In [26]:
data['review'][4]

'petter matteis love in the time of money is a visually stunning film to watch mr mattei offers us a vivid portrait about human relations this is a movie that seems to be telling us what money power and success do to people in the different situations we encounter this being a variation on the arthur schnitzlers play about the same theme the director transfers the action to the present time new york where all these different characters meet and connect each one is connected in one way or another to the next person but no one seems to know the previous point of contact stylishly the film has a sophisticated luxurious look we are taken to see how these people live and the world they live in their own habitatthe only thing one gets out of all these souls in the picture is the different stages of loneliness each one inhabits a big city is not exactly the best place in which human relations find sincere fulfillment as one discerns is the case with most of the people we encounterthe acting is good under mr matteis direction steve buscemi rosario dawson carol kane michael imperioli adrian grenier and the rest of the talented cast make these characters come alivewe wish mr mattei good luck and await anxiously for his next work'

### 4. Removing stop words

In [27]:
from nltk.corpus import stopwords
# word = stopwords.words('english')

In [28]:
# def remove_stop_words(text):
#     new_text = []
#     for word in text.split():
#         if word in stopwords.words('english'):
#             new_text.append('')
#         else:
#             new_text.append(word)
#         x = new_text[:]
#         new_text.clear()
#     return " ".join(x)

def remove_stop_words(text):
    stop_words = set(stopwords.words('english'))  # Use a set for faster lookup
    return " ".join([word for word in text.split() if word not in stop_words])

In [29]:
data['review'] = data['review'].apply(remove_stop_words)

In [30]:
data['review'][4]

'petter matteis love time money visually stunning film watch mr mattei offers us vivid portrait human relations movie seems telling us money power success people different situations encounter variation arthur schnitzlers play theme director transfers action present time new york different characters meet connect one connected one way another next person one seems know previous point contact stylishly film sophisticated luxurious look taken see people live world live habitatthe thing one gets souls picture different stages loneliness one inhabits big city exactly best place human relations find sincere fulfillment one discerns case people encounterthe acting good mr matteis direction steve buscemi rosario dawson carol kane michael imperioli adrian grenier rest talented cast make characters come alivewe wish mr mattei good luck await anxiously next work'

#### Train test splitting model

In [60]:
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense,Embedding,LSTM
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [32]:
train_data, test_data = train_test_split(data,test_size=0.2,random_state=42)

In [33]:
train_data.shape

(39665, 2)

In [34]:
test_data.shape

(9917, 2)

In [35]:
tokenizer = Tokenizer(num_words=5000)
tokenizer.fit_on_texts(train_data['review'])

In [36]:
X_train = pad_sequences(tokenizer.texts_to_sequences(train_data['review']),maxlen=200)
X_test = pad_sequences(tokenizer.texts_to_sequences(test_data['review']),maxlen=200)

In [37]:
X_train

array([[   0,    0,    0, ...,  189,  259,  108],
       [   0,    0,    0, ..., 2922, 4120, 2620],
       [   0,    0,    0, ..., 1039, 2961,  282],
       ...,
       [   2, 1179, 1661, ...,    1,  284, 3244],
       [   0,    0,    0, ..., 1123,  143,   29],
       [   0,    0,    0, ..., 1526, 1584, 2622]])

In [38]:
X_test

array([[   0,    0,    0, ...,   44,    8, 3164],
       [   0,    0,    0, ...,   22,    4,    3],
       [ 619, 2179,  765, ..., 1491,   50,  371],
       ...,
       [   0,    0,    0, ..., 1243, 2033,  923],
       [   0,    0,    0, ..., 1669,  204,  206],
       [   0,    0,    0, ..., 1235,   17,  532]])

In [39]:
Y_train = train_data['sentiment']
Y_test = test_data['sentiment']

In [40]:
Y_train

7837     0
4814     0
35458    1
3446     0
24478    0
        ..
11304    0
45059    0
38405    0
860      1
15838    1
Name: sentiment, Length: 39665, dtype: int64

In [41]:
Y_test

29171    0
43589    1
38712    0
16045    0
5248     1
        ..
2923     1
15292    0
17849    0
38079    0
2691     0
Name: sentiment, Length: 9917, dtype: int64

### Model Building

In [42]:
model = Sequential()

In [61]:
model.add(Embedding(input_dim=5000,output_dim=128))
model.add(LSTM(128,dropout=0.2,recurrent_dropout=0.2))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])